//Pagina
$NavColor:#F5F5DC;


//Botones
$NEGRO:#000;
$GRIS:#BFCCB5;
$GIRS-ACERO:#9eb7b8;
$BLANCO:#FFF;
$NORMAL: #f2ddb9;
$ROJO-FUEGO:#ff5e01;
$ROJO-OSCURO:#b9581f;
$CELESTE:#51c4e7;
$AZUL:#4592c4;
$VERDE:#A8DF8E;
$VERDE-OSCURO:#7aac62;
$AMARILLO:#F8DE22;
$VIOLETA:#AE90FF;
$VIOLETA-OSCURO:#7b62a3;
$MARRON:#CBB279;
$MARRON-TIERRA:#a38c21;
$ROSA:#f366b9;
$ROSA-CLARO:#fdb9e9;
